.box{
    background-color: rgb(255, 234, 0);
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

body{
    background-color: rgb(25, 26, 26);
}
.box1{
    position:absolute;
    width: 30px;
    height: 50px;
    background-color: aliceblue;
    bottom:0;
    left:0;
}
.box2{
    
    position:absolute;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    top:0;
    right:0;
}
.box3{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


span.emoji {
    font-size: 40px;
    vertical-align: middle;
    line-height: 2;
  }
.circle1{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border-radius: 250px;
    top: -50px;
    left: -50px;

    
}
.circle2
{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border-radius: 250px;
    right: -50px;
    bottom: -50px; 
}

